@import "tailwindcss";

@theme {
  --orange-accent: #F77D36;
--color-orange-accent: var(--orange-accent);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f7f5f0;
    color: #17231f;
    font-family: var(--font-albert-sans), system-ui, sans-serif;
}




h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat-alternates, system-ui, sans-serif);
}